**.h5
**.pt
**/data
**/data/*

# Ignore all pycache folders
**/__pycache__
__pycache__/
*.py[cod]
*$py.class

# Ignore vscode settings
**/.vscode/

# Ignore test scripts
**/test.py
**/test.ipynb
**/test_*.py
**/test_*.ipynb

# Ignore the result videos
*.mp4
*.avi
*.gif
*.mov

# ignore the wheel files
dist/**
*.egg-info/**
*.egg/**
build/**